  <form>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="cím">
      </mat-form-field></td></tr>
      <tr>
      
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="kategóriák">
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="uzenet"></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="forint" value="0">
        <mat-hint align="end"></mat-hint>
      </mat-form-field></td>
    </tr></table>
  </form>
  <button (click)="onClick()">Click me!</button>
